<header class="ds-header">
  <div class="ds-header-top">
    <img class="ds-header-portrait" src="{{actor.img}}" alt="" />
    <h1 class="ds-header-name">{{actor.name}}</h1>
    <div class="ds-header-level">Level {{system.monster.level}}</div>
  </div>
  <div class="ds-header-meta">
    <span class="ds-header-role">
      {{#if system.monster.organizationLabel}}{{system.monster.organizationLabel}}{{/if}}
      {{#if system.monster.roleLabel}}{{system.monster.roleLabel}}{{/if}}
    </span>
    {{#if keywordLabels}}
      <span class="ds-header-keywords">{{keywordLabels}}</span>
    {{/if}}
    <span class="ds-header-ev">EV {{system.ev}}</span>
  </div>
</header>
